<template>
    <div class="bg">
        <b-row class="justify-content-center mobile">
            <b-col sm="10" md="8" lg="8" xl="6">
                <h1>Заполнение анкеты</h1>
                <b-form @submit="onSubmit" v-if="show">
                    <b-form-group
                            id="input-group-1"
                            label="Email:"
                            label-for="input-1"
                            description="На вашу почту будет отправлен статус вашей заявки"
                    >
                        <b-form-input
                                id="input-1"
                                v-model="form.email"
                                type="email"
                                required
                                placeholder="Введите Email"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Ваше ФИО:" label-for="input-2">
                        <b-form-input
                                id="input-2"
                                v-model="form.name"
                                required
                                placeholder="Пример: Иванов Иван Иванович"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Ваш номер телефона:" label-for="input-2">
                        <b-form-input
                                id="input-2"
                                v-model="form.phone"
                                required
                                placeholder="Пример: 79111111111"
                        ></b-form-input>
                    </b-form-group>

                    <b-button pill variant="outline-secondary" type="submit">Далее</b-button>
                </b-form>

            </b-col>
        </b-row>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueCookies from 'vue-cookies'

    Vue.use(VueCookies)
    import router from '../router'

    export default {
        name: 'FirstForm',
        data() {
            return {
                form: {
                    email: '',
                    name: '',
                    phone: '',
                },
                show: true,
                windowHeight: 0,
                txt: '',
                mobile: true,
                style: '',
                props: '123',
                url: ''
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                let data = {'form': this.form, 'props': this.props}
                const url = 'http://hoteroke.ru:5000/getquery';
                console.log(1)

                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "text/plain"
                    },
                    body: JSON.stringify(data)
                }).then(function (response) {
                    return response.json();
                })
                console.log(2)
                router.push("second")
            }
        },
        mounted() {
            this.windowHeight = window.innerHeight;
            if (this.windowHeight < 900) {
                this.style = 'margin-top: 25%'
            } else {
                this.style = 'margin-top: 10%'
            }
        }

    }

</script>
<style scoped>
    .bg {
        height: 100%;
    }

    .mobile {
        padding-top: 10%;
    }

    @media (max-width: 991.98px) {
        .mobile {
            padding-top: 28%;
        }
    }
</style>