<template>
    <div class="bg">
        <b-row class="justify-content-center mobile">
            <b-col xl="6" sm="12" lg="8" md="8">
                <h1>Форум</h1>
                <b-card @click="saveid(question.id), redirect(question.id) "
                        style="margin-top: 20px; margin-right: 5px; margin-left: 5px"
                        v-for="question in questions" :header="question.header">
                    <blockquote class="blockquote mb-0">
                        <b-row class="justify-content-left">
                            <h4>{{question.text}}</h4>
                        </b-row>
                        <footer class="blockquote-footer">
                            <b-avatar variant="primary" :text="question.user_id.avatar"></b-avatar>
                            <cite title="Source Title">{{question.user_id.name}} {{question.user_id.lastname}}</cite>
                        </footer>
                    </blockquote>
                </b-card>
                <div v-if="nothing===true">
                    <img class="center" src="../assets/nothing.png"/>
                </div>
            </b-col>
            <b-navbar type="light" fixed="bottom">
                <b-navbar-nav align="center">
                    <b-nav-item @click="autorized"><strong>Создать запись</strong></b-nav-item>
                </b-navbar-nav>
                <!--<b-navbar-nav v-else align="center">-->
                <!--<b-nav-item href="#/login"><strong>Войти</strong></b-nav-item>-->
                <!--</b-navbar-nav>-->
            </b-navbar>
        </b-row>
    </div>
</template>

<script>
    import axios from 'axios'
    import router from '../router'
    import Vue from 'vue'


    export default {
        name: "Forum",
        data() {
            return {
                questions: [],
                url: 'http://hoteroke.ru:5000/forum',
                nothing: true,
                auth: false
            };
        },
        mounted() {

            Vue.$cookies.set('lastpage', 'forum')
            axios.post(this.url)
                .then(response => {
                    this.questions = response.data.questions
                    console.log(this.questions)


                });
            if (this.questions !== []) {
                this.nothing = false
            }
            if (Vue.$cookies.get('auth') === true) {
                this.auth = true
            }
            console.log(Vue.$cookies.get('auth'))
        },
        methods: {
            redirect(id) {
                router.push('question/' + id)
            },
            autorized() {
                console.log(Vue.$cookies.get('auth'));
                if (Vue.$cookies.get('auth') === 'true') {
                    router.push('newquestion')
                } else if (Vue.$cookies.get('auth') !== 'true') {
                    router.push('login')
                }
            },
            saveid(id) {
                console.log(1)

                Vue.$cookies.set('id', id)
                console.log(id)
                console.log(2)

            }
        },
    }
</script>

<style scoped>
    .mobile {
        padding-top: 7%
    }
    @media (max-width: 991.98px) {
        .mobile {
            margin-top: 28%;
        }
    }


    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 20%;
    }
</style>