<template>
    <div>
        <full-page ref="fullpage" :options="options">
            <div class="section">
                <div style="height: 100%" class="sect1">
                    <div class="sect11">

                        <main class="presentation" style="padding-top: 7%">
                            <div class="introduction">
                                <div class="intro-text">
                                    <h1>Преакселератор</h1>
                                    <p>онлайн-консультации по подготовке стартапов</p>

                                </div>
                                <div class="cta">

                                </div>


                                <a href="#/first" class="button  btn-lg" role="button">Присоедениться</a>

                            </div>
                            <div class="cover">
                                <img v-bind:style="first" class="ml-auto" src="../assets/pic.png"/>

                            </div>
                        </main>

                    </div>
                </div>
            </div>
            <div v-if="windowWidth > 769" class="section sect2">
                <div style="height: 100%;">
                    <b-row class="justify-content-md-center">
                        <b-col col lg="6" md="6" xl="6" sm="12" style="padding-top: 7%"><h1>Вы сможете</h1></b-col>
                    </b-row>
                    <b-row class="justify-content-md-center">
                        <b-col lg="4" md="4" xl="4" sm="5">
                            <div class="cover">
                                <img v-bind:style="style" class="ml-auto" src="../assets/1.png"/>

                            </div>
                        </b-col>
                        <b-col lg="4" md="4" xl="4" sm="5">
                            <div class="cover">
                                <img v-bind:style="style" class="ml-auto" src="../assets/2.png"/>

                            </div>
                        </b-col>
                        <b-col lg="4" md="4" xl="4" sm="5">
                            <div class="cover">
                                <img v-bind:style="style" class="ml-auto" src="../assets/3.png"/>

                            </div>
                        </b-col>
                    </b-row>

                </div>
            </div>
            <div v-else class="section sect2">
                <div style="height: 100%;">
                    <b-row class="justify-content-md-center">
                        <b-col col lg="6" md="6" xl="6" sm="12" style="padding-top: 7%"><h1>Вы сможете</h1></b-col>
                    </b-row>
                    <b-row class="justify-content-center">
                        <b-col lg="4" md="4" xl="4" sm="12">
                            <div class="cover">
                                <img class="ml-auto" src="../assets/1.png"/>

                            </div>
                        </b-col>
                    </b-row>
                </div>
            </div>


            <div v-if="windowWidth < 769 " class="section sect2">
                <b-row class="justify-content-center">
                    <b-col lg="4" md="4" xl="4" sm="12">
                        <div class="cover">
                            <img class="ml-auto" src="../assets/2.png"/>
                        </div>
                    </b-col>
                </b-row>
            </div>
            <div v-if="windowWidth < 769 " class="section sect2">
                <b-row class="justify-content-center">
                    <b-col lg="4" md="4" xl="4" sm="12">
                        <div class="cover">
                            <img class="ml-auto" src="../assets/3.png"/>
                        </div>
                    </b-col>
                </b-row>
            </div>
            <div class="section">
                <div style="height: 100%">
                    <main class="presentation">
                        <div class="introduction">
                            <div class="intro-text">

                                <h1>Мы предлагаем</h1>
                                <p><b-icon-play-fill></b-icon-play-fill>Эффективные курсы</p>
                                <p><b-icon-play-fill></b-icon-play-fill>Связь с менторами</p>
                                <p><b-icon-play-fill></b-icon-play-fill>Виртуальный коворкинг</p>

                            </div>
                            <div class="cta">

                            </div>


                            <a href="#/first" class="button  btn-lg" role="button">Пройти курсы</a>

                        </div>
                        <div v-if="windowWidth > 769" class="cover">
                            <img class="ml-auto" src="../assets/computer.png"/>

                        </div>
                        <div v-else class="cover">
                            <img class="ml-auto" style='padding-right: 20%; padding-bottom: 25%; padding-left: 20%' src="../assets/computer.png"/>

                        </div>
                    </main>
                </div>
            </div>
            <div class="section sect2" style="">
                <main class="presentation" style="padding-top: 7%">
                            <div class="introduction">
                                <div class="intro-text">
                                    <h1>ЕСТЬ ИДЕЯ?</h1>
                                    <h1>РЕШАЙСЯ!</h1>

                                </div>
                                <div class="cta">

                                </div>


                                <a href="#/first" class="button  btn-lg" role="button">Заявка</a>

                            </div>
                            <div class="cover">
                                <img v-bind:style="first" class="ml-auto" src="../assets/make.png"/>

                            </div>
                        </main>

            </div>
        </full-page>
    </div>
</template>


<style scoped>
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;
        cursor: pointer;
    }

    .bm-burger-bars {
        background-color: #373a47;
    }

    .line-style {
        position: absolute;
        height: 20%;
        left: 0;
        right: 0;
    }

    .cross-style {
        position: absolute;
        top: 12px;
        right: 2px;
        cursor: pointer;
    }

    .bm-cross {
        background: #bdc3c7;
    }

    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    .bm-menu {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Stay on top */
        top: 0;
        left: 0;
        background-color: rgb(63, 63, 65); /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
    }

    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }

    .bm-item-list {
        color: #b8b7ad;
        margin-left: 10%;
        font-size: 20px;
    }

    .bm-item-list > * {
        display: flex;
        text-decoration: none;
        padding: 0.7em;
    }

    .bm-item-list > * > span {
        margin-left: 10px;
        font-weight: 700;
        color: white;
    }

    .presentation {
        margin: auto;
        display: flex;
        width: 90%;
        min-height: 80vh;
        align-items: center;
        color: #363C44;
    }

    .introduction {
        flex: 1;
    }

    .intro-text h1 {
        margin-top: 10px;
        font-size: 44px;
        font-weight: 500;
        text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .intro-text p {
        margin-top: 30px;
        font-size: 22px;
        text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .cta {
        padding: 50px 0px 0px 0px;
    }

    .cover {
        flex: 0.6;
    }

    .cover img {
        height: 60vh;
        filter: drop-shadow(0px 5px 3px #000000);
        animation: drop 1.5s ease;
    }


    .button {
        width: 140px;
        height: 140px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #0000;
        background-color: #206FCD;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    .button:hover {
        background-color: #93B5B3;
        box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    @keyframes drop {
        0% {
            opacity: 0;
            transform: translateY(-80px);
        }
        100% {
            opacity: 1;
            transform: translateY(-0px);
        }
    }


    .button {
        width: 140px;
        height: 140px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: white;
        background-color: #206FCD;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    .button:hover {
        background-color: #93B5B3;
        box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
        color: black;
        transform: translateY(-7px);
    }

    @keyframes drop {
        0% {
            opacity: 0;
            transform: translateY(-80px);
        }
        100% {
            opacity: 1;
            transform: translateY(-0px);
        }
    }

    @media screen and (max-width: 1024px) {
        .presentation {
            flex-direction: column;
        }

        .introduction {
            margin-top: 5vh;
            text-align: center;
        }

        .intro-text h1 {
            font-size: 30px;
        }

        .intro-text p {
            font-size: 18px
        }

        .cta {
            padding: 10px 0px 0px 0px;
        }

        .cover {
            margin-top: 20px;
        }
    }

    .sect1 {
        background-image: url("../assets/bg1.png");
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sect2 {
        background-image: url("../assets/geometry2.png");
    }

</style>

<script>
    import {Slide} from 'vue-burger-menu' // import the CSS transitions you wish to use, in this case we are using `Slide`

    export default {
        name: 'Items',

        components: {
            Slide // Register your component
        },
        data() {
            return {
                windowHeight: 0,
                windowWidth: 0,
                style: '',
                first: '',
                second: ''
            };
        },

        mounted() {
            this.windowHeight = window.innerHeight;
            this.windowWidth = window.innerWidth
            if (this.windowHeight < 900) {
                this.style = 'height: 300px; width: auto';
                this.first = 'padding: 5%';
                this.second = 'width:'+this.windowWidth-200 + 'ph'+';'+'height:auto;'
                console.log(this.second)
            }
        }

    }</script>