<template>
    <b-row class="justify-content-center" v-bind:style="style" style="padding: 5px">
        <b-col sm="10" md="8" lg="8" xl="6">
            <h1>Заполнение анкеты</h1>
            <b-form @submit="onauth" v-if="show">
                <b-form-group
                        id="input-group-1"
                        label="Email:"
                        label-for="input-1"
                        description="На вашу почту будет отправлен статус вашей заявки"
                >
                    <b-form-input
                            id="input-1"
                            v-model="email"
                            type="email"
                            required
                            placeholder="Введите Email"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Ваше ФИО:" label-for="input-2">
                    <b-form-input
                            id="input-2"
                            v-model="name"
                            required
                            placeholder="Пример: Иванов Иван Иванович"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Ваш номер телефона:" label-for="input-2">
                    <b-form-input
                            id="input-2"
                            v-model="phone"
                            required
                            placeholder="Пример: 79111111111"
                    ></b-form-input>
                </b-form-group>

                <b-button pill variant="outline-secondary" type="submit">Далее</b-button>
            </b-form>

        </b-col>
    </b-row>
</template>

<script>
    import Vue from 'vue'
    import router from '../router'


    export default {
        name: "Login",
        data() {
            return {

                windowHeight: 0,
                mobile: true,
                style: '',
                login: '',
                show: true,
                email: '',
                name: '',
                phone: ''
            }
        },
        methods: {
            onauth(evt) {
                evt.preventDefault();
                Vue.$cookies.set('user_name', this.name);

                Vue.$cookies.set('user_phone', this.phone);

                Vue.$cookies.set('user_email', this.email);
                console.log(1)
                Vue.$cookies.set('auth', true);
                console.log(Vue.$cookies.get('auth'))
                console.log(2)
                router.push(Vue.$cookies.get('lastpage'))
            }
        },
        mounted() {
            this.windowHeight = window.innerHeight;

            if (this.windowHeight < 900) {
                this.style = 'margin-top: 25%'
                console.log(this.style)
            } else {
                this.style = 'margin-top: 10%'
                console.log(this.style)

            }
        }

    }
</script>

<style scoped>
    .mobile {
        padding-top: 10%;
    }

    @media (max-width: 991.98px) {
        .mobile {
            margin-top: 28%;
        }
    }


</style>