<template>
    <div class="bg">
        <b-row class="justify-content-center mobile">
            <b-col sm="10" md="8" lg="8" xl="6">
                <h1>Новая тема:</h1>
                <b-form @submit="onSubmit" v-if="show">
                    <b-form-group
                            id="input-group-1"
                            label="Заголовок"
                            label-for="input-1"
                            description="Введите заголовок"
                    >
                        <b-form-input
                                id="input-1"
                                v-model="header"
                                type="header"
                                required
                                placeholder="Введите заголовок"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Введите текст" label-for="input-2">
                        <b-form-textarea
                                id="textarea"
                                v-model="text"
                                placeholder="Введите текст"
                                rows="3"
                                max-rows="6"
                        ></b-form-textarea>
                    </b-form-group>

                    <b-button pill variant="outline-secondary" type="submit">Далее</b-button>
                </b-form>
            </b-col>
        </b-row>

    </div>
</template>

<script>
    import axios from 'axios'
    import Vue from 'vue'
    import router from '../router'


    export default {
        name: 'NewQuestion',
        data() {
            return {
                header: '',
                text: '',
                show: true,
                question: '',
                url: 'http://hoteroke.ru:5000/newquestion',
                name: Vue.$cookies.get('user_name'),
                phone: Vue.$cookies.get('user_phone'),
                email: Vue.$cookies.get('user_email')
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault();
                console.log(this.header)
                console.log(this.text)
                axios.post(this.url, {
                    'body': {
                        'question': {'header': this.header, 'text': this.text},
                        'user': {'name': this.name, 'email': this.email, 'phone': this.phone}
                    }
                })
                    .then(response => {
                        this.question = response.data
                        Vue.$cookies.set['id', response.data]
                        router.push("question/" + this.question)
                    })
            }
        }

        ,
        mounted() {
        }


    }


</script>
<style scoped>
    .bg {
        height: 100%;
    }

    .mobile {
        padding-top: 10%;
    }

    @media (max-width: 991.98px) {
        .mobile {
            padding-top: 28%;
        }
    }

</style>