<template>
    <div class="bg">
        <b-row class="mobile justify-content-center">
            <b-col xl="6" sm="12" lg="8" md="8">
                <h1>Форум</h1>
                <b-card
                        style="margin-top: 20px; margin-right: 5px; margin-left: 5px"
                        v-for="question in questions" :header="question.header">
                    <blockquote class="blockquote mb-0">
                        <b-row class="justify-content-left">
                            <h4>{{question.text}}</h4>
                        </b-row>
                        <footer class="blockquote-footer">
                            <b-avatar variant="primary" :text="question.user_id.avatar"></b-avatar>
                            <cite title="Source Title">{{question.user_id.name}} {{question.user_id.lastname}}</cite>
                        </footer>
                    </blockquote>
                </b-card>
                <b-card v-for="answer in answers" style="margin-top: 5%; margin-bottom: 10%" :title="answer.user_id.fio"
                        :sub-title="answer.user_id.email">
                    <b-card-text>
                        {{answer.text}}
                    </b-card-text>

                </b-card>
                <div v-if="empty===true">
                    <img class="center" src="../assets/nothing.png"/>
                </div>
                <footer v-if="auth===true" class="fot" style="position: fixed; bottom: 2%;">
                    <b-form @submit="onSend" v-if="show">
                        <b-input-group class="mt-3">
                            <b-form-input v-model="ans"></b-form-input>
                            <b-input-group-append>
                                <b-button type="submit" variant="info">Отправить</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form>
                </footer>
            </b-col>

        </b-row>
    </div>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import router from '../router'

    export default {
        name: "Question",
        data() {
            return {
                questions: '',
                answers: '',
                id: '',
                empty: true,
                show: true,
                auth: true,
                user: '',
                ans: '',
                url: 'http://hoteroke.ru:5000/getquestion',
                url_ans: 'http://hoteroke.ru:5000/getanswers',
                polling: null

            }
        },
        mounted() {
            console.log(1)
            let data = {'id': 1}
            fetch(this.url, {
                method: "POST",
                headers: {
                    "Content-Type": "text/plain"
                },
                body: JSON.stringify(data)
            }).then(result => result.json()).then(result => {
                this.questions = result.question
                this.answers = result.answers
                console.log(1)
                if (Vue.$cookies.get('auth') === true) {
                    this.auth = true
                }
                if (this.answers.length !== 0) {
                    this.empty = false
                }
            })
        },
        methods: {
            pollData() {
                let data = {'id': 1}
                this.polling = setInterval(() => {
                    console.log(Vue.$cookies.get('auth'))

                    fetch(this.url_ans, {
                        method: "POST",
                        headers: {
                            "Content-Type": "text/plain"
                        },
                        body: JSON.stringify(data)
                    }).then(result => result.json()).then(result => {
                        this.answers = result.answers
                        if (this.answers.length !== 0) {
                            this.empty = false
                        }
                    })
                }, 3000)
            },
            onSend(evt) {
                if (Vue.$cookies.get('auth') === 'true') {
                    evt.preventDefault()
                    this.user = 1
                    let data = {'user': this.user, 'text': this.ans}
                    const url = 'http://hoteroke.ru:5000/giveanswers';
                    console.log('authed')
                    fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "text/plain"
                        },
                        body: JSON.stringify(data)
                    }).then(function (response) {
                        return response.json();
                    })
                } else if (Vue.$cookies.get('auth') !== 'true') {
                    router.push('login')

                }


            }
        },
        beforeDestroy() {
            clearInterval(this.polling)
        },
        created() {
            this.pollData()
        }
    }
</script>

<style scoped>
    .mobile {
        padding-top: 7%
    }

    .fot {
        width: 50%;
    }

    @media (max-width: 991.98px) {
        .mobile {
            padding-top: 28%;
        }

        .fot {
            width: 100%;
        }
    }


    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 5%;
    }
</style>