<template>
    <div class="bg">
        <b-row class="justify-content-center mobile">
            <b-col sm="10" lg="6" xl="6" md="6">
                <h1>Заполнение анкеты</h1>
                <b-form @submit="onSubmit" v-if="show">

                    <b-form-checkbox-group
                            v-model="value"
                            :options="options"
                            :state="state"
                            name="checkbox-validation"
                            stacked
                            size="lg"
                    >
                        <b-form-invalid-feedback :state="state">Пожалуйста выберите не более трех
                        </b-form-invalid-feedback>
                        <b-form-valid-feedback :state="state">Спасибо</b-form-valid-feedback>
                        <b-button :disabled="!state" pill variant="outline-secondary" type="submit">Далее</b-button>

                    </b-form-checkbox-group>
                </b-form>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import axios from 'axios'
    import router from '../router'

    export default {
        name: 'SecondForm',

        data() {
            return {
                value: [],
                options: [
                    {text: 'Найти свою идею для стартапа', value: 'idea'},
                    {text: 'Найти ментора', value: 'mentor'},
                    {text: 'Пройти онлайн курс', value: 'curse'},
                    {text: 'Получить онлайн консультацию', value: 'consult'},
                    {text: 'Выявить слабые места проекта', value: 'weak'}
                ],
                windowHeight: 0,
                style: '',
                show: true,
                form: this.$cookies.get('user')

            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                let data = {'form': this.form, 'props': this.value}
                router.push('/')
            }
        },
        computed: {
            state() {
                return this.value.length < 4 && this.value.length !== 0
            }
        },
        mounted() {
            this.windowHeight = window.innerHeight;
            if (this.windowHeight < 900) {
                this.style = 'margin-top: 25%'
            } else {
                this.style = 'margin-top: 10%'
            }
        }
    }
</script>
<style scoped>
    .bg {
        height: 100%;
    }

    .mobile {
        padding-top: 10%;
    }

    @media (max-width: 991.98px) {
        .mobile {
            padding-top: 28%;
        }
    }
</style>