<template>
    <div id="app" class="main">
        <nav class="navbar navbar-expand-lg fixed-top py-3">
            <div class="container"><img class="img" src="../src/assets/b8png.png">
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler navbar-toggler-right">
                    <b-icon-list></b-icon-list>
                </button>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="/"
                                                       class="nav-link text-uppercase font-weight-bold">Главная<span
                                class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="#curse" class="nav-link text-uppercase font-weight-bold">Курсы</a>
                        </li>
                        <li class="nav-item"><a href="#/forum" class="nav-link text-uppercase font-weight-bold">Коворкинг</a>
                        </li>
                        <li class="nav-item"><a href="http://b8accelerator.com/" class="nav-link text-uppercase font-weight-bold">Акселератор</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <transition name="router-anim" enter-active-class="animated fadeInDown"
                    leave-active-class="animated fadeOutDown">
            <router-view/>
        </transition>

    </div>
</template>

<style lang="less">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    .navbar {
        transition: all 0.4s;
    }

    .navbar .nav-link {
        color: rgba(0, 0, 0, 0.7);
    }

    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
        color: #197278;
        text-decoration: none;
    }

    .navbar .navbar-brand {
        color: rgba(0, 0, 0, 0.7);
    }


    /* Change navbar styling on scroll */
    .navbar.active {
        background: #197278;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar.active .nav-link {
        color: #555;
    }

    .navbar.active .nav-link:hover,
    .navbar.active .nav-link:focus {
        color: #555;
        text-decoration: none;
    }

    .navbar.active .navbar-brand {
        color: #555;
    }

    .img {
        width: 145px;
        height: 100px;

    }

    /* Change navbar styling on small viewports */
    @media (max-width: 991.98px) {
        .navbar {
            background: #206FCD
        }

        .navbar .navbar-brand, .navbar .nav-link {
            color: #555;
        }

        .img {
            width: 58px;
            height: 40px;

        }
    }

    .main {
        background-image: url("../src/assets/geometry2.png");
        height: 100%;
        background-position: center;
    }
</style>


<script>
    import {Slide} from 'vue-burger-menu'  // import the CSS transitions you wish to use, in this case we are using `Slide`

    export default {
        components: {
            Slide // Register your component
        }
    }</script>
